.cards {
  height: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;

  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #1e1e1e;
    padding: 1rem;
    border-radius: 0.5rem;

    img {
      width: 100%;
      border-radius: 0.5rem;
    }

    p {
      font-style: italic;
      letter-spacing: 1px;
      line-height: 1.3;
      overflow: hidden;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 0.5rem;

      .tag {
        background: #333;
        font-size: 1.25rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-size: 0.875rem;
      }
    }

    .links {
      display: flex;
      gap: 1rem;
      margin-top: 0.5rem;

      a {
        color: whitesmoke;
        font-weight: bold;
      }
    }
  }
}
