.dock {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);

  .icon {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
  }

  .cli:hover {
    background-color: #502D0C;
  }

  .github:hover {
    background-color: #111;
  }

  .pdf:hover {
    background-color: #440000;
  }

  .note:hover {
    background-color: #ac5f01;
  }

  .mail:hover {
    background-color: #005bbf;
  }

  .link:hover {
    background-color: #530696;
  }

  .calender:hover {
    background-color: #9f0744;
  }

  .spotify:hover {
    background-color: #0aa942;
  }

  .icon:hover {
    transform: scale(1.5) translateY(-20%);
    margin-inline: 0.875rem;
  }

  .icon:hover + .icon,
  .icon:has(+ .icon:hover) {
    transform: scale(1.25) translateY(-10%);
    margin-inline: 0.3rem;
  }

  .icon:hover + .icon + .icon,
  .icon:has(+ .icon + .icon:hover) {
    transform: scale(1.1) translateY(-5%);
  }
}
